<div
  class="flex flex-col w-72 h-full p-6 bg-light-secondary dark:bg-dark-secondary border border-light dark:border-dark rounded-[13px]"
>
  <h2 class="font-bold text-xl">Reach by device</h2>
  <apx-chart
    class="flex justify-start flex-auto items-center"
    [chart]="chartOptions.chart"
    [colors]="chartOptions.colors"
    [labels]="chartOptions.labels"
    [dataLabels]="chartOptions.dataLabels"
    [plotOptions]="chartOptions.plotOptions"
    [series]="chartOptions.series"
    [states]="chartOptions.states"
  ></apx-chart>
</div>
