<div
  class="flex flex-col w-full h-60 bg-light-secondary dark:bg-dark-secondary border border-light dark:border-dark rounded-[13px]"
>
  <apx-chart
    class="relative h-full"
    [chart]="chartOptions.chart"
    [title]="chartOptions.title"
    [colors]="chartOptions.colors"
    [labels]="chartOptions.labels"
    [dataLabels]="chartOptions.dataLabels"
    [plotOptions]="chartOptions.plotOptions"
    [series]="chartOptions.series"
    [states]="chartOptions.states"
    [stroke]="chartOptions.stroke"
    [legend]="chartOptions.legend"
    [yaxis]="chartOptions.yaxis"
  ></apx-chart>
</div>
