<div
  class="flex flex-col w-full h-60 px-6 bg-light-secondary dark:bg-dark-secondary border border-light dark:border-dark rounded-[13px]"
>
  <apx-chart
    [title]="chartOptions.title"
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [colors]="chartOptions.colors"
    [dataLabels]="chartOptions.dataLabels"
    [plotOptions]="chartOptions.plotOptions"
    [yaxis]="chartOptions.yaxis"
    [legend]="chartOptions.legend"
    [grid]="chartOptions.grid"
    [fill]="chartOptions.fill"
    [stroke]="chartOptions.stroke"
    [tooltip]="chartOptions.tooltip"
    [xaxis]="chartOptions.xaxis"
  ></apx-chart>
</div>
