<div
  class="flex flex-col w-96 h-full justify-between p-6 bg-light-secondary dark:bg-dark-secondary border border-light dark:border-dark rounded-[13px]"
>
  <div class="flex items-center justify-between">
    <h2 class="font-bold text-xl">Geo</h2>
    <div class="flex">
      <a class="text-xs mr-2 font-semibold">Country</a>
      <a class="text-xs text-secondary">City</a>
    </div>
  </div>
  <div class="grid grid-cols-2 gap-y-2 gap-x-14">
    <country-reach-progress
      country="Russia"
      [percent]="94"
    ></country-reach-progress>
    <country-reach-progress
      country="China"
      [percent]="0.26"
    ></country-reach-progress>
    <country-reach-progress
      country="Ukraine"
      [percent]="0.2"
    ></country-reach-progress>
    <country-reach-progress
      country="USA"
      [percent]="0.2"
    ></country-reach-progress>
    <country-reach-progress
      country="Mongolia"
      [percent]="0.13"
    ></country-reach-progress>
    <country-reach-progress
      country="Other"
      [percent]="1.37"
    ></country-reach-progress>
  </div>
</div>
