<div class="flex justify-between items-center w-full mb-14">
  <div class="flex items-center">
    <h2 class="text-3xl mr-11 font-bold">Statistics</h2>
    <div
      class="relative flex items-center px-3 bg-white dark:bg-transparent border dark:border-dark h-8 mr-6 rounded-lg w-[153px]"
    >
      <span>
        <svg
          class="mr-3"
          width="11"
          height="11"
          viewBox="0 0 11 11"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M10 9.69231L7.825 7.7094M9 5.13391C9 7.14794 7.20914 8.78063 5 8.78063C2.79086 8.78063 1 7.14794 1 5.13391C1 3.11988 2.79086 1.48718 5 1.48718C7.20914 1.48718 9 3.11988 9 5.13391Z"
            stroke="#979797"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </span>
      <input
        type="text"
        class="w-full px-0 text-xs dark:text-dark border-none focus:ring-0 h-8 bg-transparent focus:outline-none placeholder-light"
        placeholder="Search"
      />
    </div>
    <!-- Notification -->
    <a>
      <img src="assets/icons/notification.svg" alt="notification" />
    </a>
  </div>
  <div class="flex items-center">
    <h3 class="mr-3 font-semibold">Anya</h3>
    <div class="rounded-full mr-2">
      <img src="assets/images/avatar/profile.png" alt="Avatar" />
    </div>
    <svg
      class="stroke-grey dark:stroke-dark"
      width="10"
      height="6"
      viewBox="0 0 10 6"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M1 1L5.28571 5L9 1" stroke-linecap="round" />
    </svg>
  </div>
</div>
