/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color: #4f4f4f !important;

  .text-secondary {
    color: #979797;
  }

  .apexcharts-title-text {
    color: #4f4f4f !important;
    font-weight: 700;
  }

  .apexcharts-legend-text {
    color: #4f4f4f !important;
    font-weight: 600;
  }

  .apexcharts-text.apexcharts-xaxis-label,
  .apexcharts-text.apexcharts-yaxis-label {
    color: #979797;
  }

  .apexcharts-text.apexcharts-pie-label {
    fill: white !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4f4f4f;
}

html.dark {
  color: #cacaca !important;

  .text-secondary {
    color: #979797;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #cacaca;
  }

  svg text {
    fill: #cacaca;
  }

  .apexcharts-text.apexcharts-xaxis-label,
  .apexcharts-text.apexcharts-yaxis-label {
    color: #979797;
  }

  .apexcharts-title-text,
  .apexcharts-legend-text {
    color: #cacaca !important;
  }
}
