<div
  class="flex px-2 items-center w-[60px] h-[30px] rounded-full border border-light-secondary dark:border-dark-secondary"
  [ngClass]="toggle ? 'bg-primary' : 'bg-white'"
  (click)="toggleTheme()"
>
  <input type="checkbox" class="sr-only" />
  <div
    class="flex items-center justify-center w-[20px] h-[20px] rounded-full"
    [ngClass]="
      toggle ? 'ml-auto bg-white fill-primary' : 'bg-primary fill-white'
    "
  >
    <ng-container *ngIf="toggle; else lightTheme">
      <svg
        width="12"
        height="12"
        viewBox="0 0 12 12"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect x="0" y="0" width="12" height="12" rx="6" />
      </svg>
    </ng-container>
    <ng-template #lightTheme>
      <svg
        width="10"
        height="10"
        viewBox="0 0 10 10"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M5.27767 9.75128C7.09569 9.77042 8.75637 8.72284 9.52217 7.07392C9.04022 7.2842 8.51825 7.38718 7.99256 7.37575C5.93187 7.37343 4.26191 5.70347 4.25959 3.64278C4.28022 2.24888 5.04933 0.973868 6.27264 0.305337C5.94272 0.263331 5.61024 0.244523 5.27767 0.249163C2.65367 0.249163 0.526611 2.3763 0.526611 5.00022C0.526611 7.62422 2.65367 9.75128 5.27767 9.75128Z"
        />
      </svg>
    </ng-template>
  </div>
</div>
